body, html {
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', Arial, sans-serif, 'Droid Scans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: $color-background;
  color: $color-text;
}

/* 页面动画效果 */
.slide-enter-active, .slide-leave-active {
  transition: all .3s;
}

.slide-enter-from, .slide-leave-to {
  transform: translate3d(100%, 0, 0);
}

/* 播放器动画效果 */
.player-enter-active, .player-leave-active {
  transition: all .3s;
}

.player-enter-from, .player-leave-to {
  transform: translate3d(0, 100%, 0);
}